.privacy_policy {
    width: 100%;
    height: 100%;
}

.privacy_policy_child {
    width: 100%;
    max-width: 1100px;
    padding: 120px 10px;
    text-align: center;
    margin: 0 auto;
}

.privacy_policy_child h1{
    display: inline-block;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.4;
    margin-bottom: 40px;
    letter-spacing: 0.2px;
    border-bottom: 2px solid #111;
}
.privacy_policy_child h3 {
    margin-top: 30px;
    font-weight: 600;
    font-size: 30px;
}

.privacy_policy_child h5 {
    margin-bottom: 20px;
    font-weight: 400;
    color: #555;
    font-size: 17.5px;
    letter-spacing: 0.2px;
}

.privacy_policy_child p {
    margin: 15px 0;
    font-weight: 400;
    color: #555;
    font-size: 17.5px;
    letter-spacing: 0.2px;
}
.privacy_policy_child ul li{
    text-align: left;
    margin-bottom: 15px;
    font-weight: 400;
    color: #555;
    font-size: 17.5px;
    letter-spacing: 0.2px;
}