section {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.bg_circle1 {
    position: absolute;
    top: 0%;
    left: -5%;
    background: orangered;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    filter: blur(15px);
    animation: bg_circle 8s linear infinite alternate;
}

@keyframes bg_circle {
    0% {
        border-radius: 33% 67% 31% 69% / 56% 68% 32% 44%;
    }

    25% {
        border-radius: 58% 42% 41% 59% / 35% 34% 66% 65%;
    }

    50% {
        border-radius: 58% 42% 17% 83% / 75% 18% 82% 25%;
    }

    75% {
        border-radius: 58% 42% 41% 59% / 57% 66% 34% 43%;
    }

    100% {
        border-radius: 51% 49% 48% 52% / 57% 59% 41% 43%;
    }

}

.landing_page_parent {
    width: 100%;
    height: 100vh;
}

.landing_page {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
}

.landing_page_content {
    width: 50%;
    padding-top: 370px;
    padding-left: 180px;
}


.landing_page_content>a>button {
    cursor: pointer;
    padding: 13px 25px;
    border-radius: 30px;
    background: #FF8933;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.3px;
    outline: none;
    border: none;
    margin-top: 30px;
}

.landing_page_content>h3 {
    font-size: 22px;
    letter-spacing: 0.1px;
    line-height: 1.2;
}

.landing_page_content>h1 {
    font-size: 70px;
    line-height: 1.4;
    letter-spacing: 0.3px;
    font-weight: 400;
}

.landing_page_content>h1>span {
    color: #f80000;
}

.landing_page_content>p {
    width: 90%;
    line-height: 1.3;
    font-size: 18px;
    font-weight: 500;
    color: #444;
}

.landing_page_img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing_page_img>img {
    width: 90%;
    object-fit: cover;
}

.rest_page {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #000;
    z-index: 50;
}

.about_page {
    width: 100%;
    height: 100vh;
    background: #000;
    color: white;
    display: grid;
    place-items: center;
}

.about_page_in {
    width: 1150px;
    min-width: 600px;
    height: 450px;
    /* background: red; */
    display: flex;
}

.about_page_in1,
.about_page_in2 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about_page_in1>h4 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.3px;
}

.about_page_in1>h3 {
    margin: 20px 0;
    font-size: 70px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0.3px;
}

.about_page_in1>h3>span {
    color: #FF7E2F;
}

.about_page_in1>p {
    color: #aaa;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.4px;
    margin-bottom: 25px;
}

.about_page_in1>h5 {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.2;
    border-bottom: 2px solid white;
    width: fit-content;
}

.product_page {
    width: 100%;
    height: 100vh;
    background-image: url('../assets/BG_FW_RealEstate.1ddd0d598674934947bb.png');
    background-size: cover;
    color: white;
    display: grid;
    place-items: center;
}

.product_page_in {
    width: 1150px;
    min-width: 600px;
    height: 450px;
    display: flex;
}

.product_page_in1,
.product_page_in2 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product_page_in1>h4 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.product_page_in1>h3 {
    margin-top: 25px;
    font-size: 75px;
    font-weight: 300;
    line-height: 0.9;
}

.product_page_in1>h6 {
    margin-top: 15px;
    font-size: 20px;
    color: #eee;
    font-weight: 400;
    line-height: 1.3;
}

.product_page_in1>p {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.4px;
    margin-top: 70px;
    margin-bottom: 25px;
}

.product_page_in1>h5 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.3px;
    line-height: 1.2;
    border-bottom: 2px solid white;
    width: fit-content;
}

.product_page_in2 {
    width: 100%;
    height: 100%;
}

.product_page_in2>img {
    width: 100%;
    object-fit: cover;
    margin-left: 100px;
}

.services_page {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding: 160px 195px;
    color: white;
}

.services_page_in {
    width: 100%;
    height: 100%;
}

.services_page_in>h4 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.4px;
}

.ui_ux_heading {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.ui_ux_heading>h3 {
    margin-top: 40px;
    font-size: 70px;
    font-weight: 300;
    letter-spacing: 0.3px;
    line-height: 1;
}

.ui_ux_heading>p {
    width: 550px;
    color: #aaa;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.3px;
}

.ui_ux_content {
    width: 100%;
    display: flex;
    margin-top: 40px;
}

.ui_ux_content1,
.ui_ux_content2 {
    width: 50%;
}

.ui_ux_content1 {
    padding-left: 20px;
}

.ui_ux_content1>h4 {
    font-size: 25px;
    color: #aaa;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 5px;
    letter-spacing: 0.3px;
}

.ui_ux_content1>h4::before {
    content: "- ";
}

.ui_ux_content2>img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.web_dev {
    margin-top: 100px;
}

.web_dev_content {
    width: 100%;
    display: flex;
    margin-top: 40px;
}

.web_dev_content1,
.web_dev_content2 {
    width: 50%;
}

.web_dev_content1>h4 {
    font-size: 25px;
    color: #aaa;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 5px;
    letter-spacing: 0.3px;
}

.web_dev_content1 {
    padding-left: 80px;
}

.web_dev_content1>h4::before {
    content: "- ";
}

.web_dev_content2>img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    /* box-shadow: 10px 10px 200px rgba(196, 34, 34, 0.9) inset; */
}

.web_dev_content_2>img {
    object-fit: contain;
}

.mobile_app {
    margin-top: 100px;
}

.digital_market {
    margin-top: 100px;
}

.work_page {
    width: 100%;
    height: 100vh;
    background-image: url("../assets/Frame\ 7821.svg");
    background-size: cover;
    padding: 180px;
}

.work_page>h3 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.4px;
}

.work_in {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.work_in>h5 {
    font-size: 60px;
    font-weight: 400;
}



@media screen and (max-width:580px) {

    .bg_circle1 {
        width: 220px;
        height: 220px;
        top: -5%;
        left: -5%;
    }

    .landing_page {
        flex-direction: column;
    }

    .landing_page_content {
        z-index: 9;
        width: 100%;
        padding-top: 110px;
        padding-left: 0;
        text-align: center;
    }


    .landing_page_content>a>button {
        margin: 0 auto;
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 500;
        gap: 10px;
    }

    .landing_page_content>a>button>img {
        width: 16px;
    }

    .landing_page_content>h3 {
        font-size: 20px;
    }

    .landing_page_content>h1 {
        font-size: 50px;
        line-height: 0.88;
        margin: 5px 0 15px 0;
    }

    .landing_page_content>p {
        margin: 0 auto;
        width: 350px;
        line-height: 1.1;
        font-size: 15px;
    }

    .landing_page_img {
        width: 100%;
        padding-top: 12px;
        display: flex;
        justify-content: center;
    }

    .landing_page_img>img {
        width: 62%;
        object-fit: cover;
    }

    .about_page {
        display: unset;
    }

    .about_page_in {
        padding: 100px 50px;
        width: 100%;
        min-width: unset;
        height: unset;
        display: flex;
        flex-direction: column;
    }

    .about_page_in1,
    .about_page_in2 {
        width: 100%;
        height: unset;
    }

    .about_page_in1>h3 {
        font-size: 55px;
    }

    .about_page_in1>p {
        font-size: 17px;
        width: 90%;
    }

    .about_page_in1>h5 {
        font-size: 15px;
    }

    .product_page_in {
        padding: 100px 50px;
        width: 100%;
        min-width: unset;
        height: unset;
        display: flex;
        flex-direction: column;
    }

    .product_page_in1,
    .product_page_in2 {
        width: 100%;
        height: unset;
    }

    .product_page_in1>h4 {
        font-size: 23px;
    }

    .product_page_in1>h3 {
        margin-top: 20px;
        font-size: 60px;
    }

    .product_page_in1>h6 {
        margin-top: 15px;
        font-size: 18px;
        color: #eee;
        letter-spacing: 0.4px;
    }

    .product_page_in1>p {
        font-size: 22px;
        margin-top: 30px;
    }

    .product_page_in2 {
        width: 100%;
        height: unset;
    }

    .product_page_in2>img {
        width: 120%;
        object-fit: cover;
        margin-left: -40px;
        margin-top: 30px;
    }

    .services_page {
        width: 100%;
        padding: 100px 50px;
    }
    
    .ui_ux_heading {
        display: flex;
        flex-direction: column;
        justify-content: unset;
        align-items: unset;
    }
    
    .ui_ux_heading>h3 {
        font-size: 55px;
    }
    
    .ui_ux_heading>p {
        width: 90%;
        font-size: 17px;
        margin-top: 15px;
    }
    
    .ui_ux_content {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
    
    .ui_ux_content1,
    .ui_ux_content2 {
        width: 100%;
    }
    
    .ui_ux_content1 {
        padding-left: 10px;
    }
    
    .ui_ux_content1>h4 {
        font-size: 23px;
        margin-bottom: 5px;
    }
    
    
    .ui_ux_content2>img {
        width: 100%;
        margin-top: 30px;
        height: unset;
        object-fit: cover;
    }
    
    .web_dev_heading{
        flex-direction: column-reverse;
    }
    
    .web_dev_content {
        flex-direction: column-reverse;
    }
    
    .web_dev_content1,
    .web_dev_content2 {
        width: 100%;
    }
    
    .web_dev_content1>h4 {
        font-size: 23px;
    }
    
    .web_dev_content1 {
        padding-left: 10px;
    }
    
    .web_dev_content2>img {
        width: 100%;
        height: unset;
        object-fit: cover;
        margin-top: 40px;
    }
    
    .web_dev_content_2>img {
        object-fit: contain;
    }
    
    .mobile_app {
        margin-top: 100px;
    }
    
    .digital_market {
        margin-top: 100px;
    }
}