nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.navbar_buttons {
    display: flex;
    gap: 50px;
    align-items: center;
}

.navbar_buttons>button {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 8px 25px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 0 5px 0px #fff;
    background: #000;
    color: #fff;
    letter-spacing: 0.3px;
}



.icon>img {
    width: 105px;
}

.hamburger_menu {
    position: relative;
    cursor: pointer;
    height: 44px;
    width: 44px;
    z-index: 999;
    padding-top: 3px;
    border-radius: 50%;
    background: #2C2C2C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hamburger_menu_line {
    width: 24px;
    height: 2px;
    margin-bottom: 4.9px;
    border-radius: 2px;
    background: white;
    transition: all 0.4s cubic-bezier(0, 0, 0, 1) 0s;
}

.hamburger_menu_line_active:first-child {
    transform: rotate(-45deg) translateX(-4px);
    transform-origin: 80% 0%;
}

.hamburger_menu_line_active:nth-child(3) {
    transform: rotate(45deg) translateX(-1.5px);
    transform-origin: 75% 0;
}

.hamburger_menu_line_active:nth-child(2) {
    scale: 0;
}

.navbar_screen {
    opacity: 0;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 160px 150px 80px;
    color: white;
    background: #2C2C2C;
    transition: all 0.5s cubic-bezier(.4, 0, .2, 1) 0.1s;
    transform: translateY(-100%);
}

.navbar_screen_active {
    opacity: 1;
    transform: translateY(0%);
}

.nav_links_parent {
    width: 100%;
    /* background: red; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.nav_links {
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 4.8rem;
    font-weight: normal;
    color: white;
}

.nav_links:hover {
    color: #FF7E2F;
}

.nav_connect {
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    gap: 130px;
}

.contact,
.social_link_heading {
    font-size: 20px;
    letter-spacing: 0.4px;
    color: #FF7E2F;
    margin-bottom: 20px;
}

.nav_contact>a>h6,
.nav_contact>h5 {
    font-weight: 700;
    letter-spacing: 0.3px;
    width: 240px;
    line-height: 1.4;
    color: #B1B1B1;
    font-size: 15px;
    margin-bottom: 5px;
}

.social_links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.social_links_parent,
.nav_contact {
    margin-bottom: 40px;
}



@media screen and (max-width:580px) {

    nav {
        padding: 15px 20px;
    }

    .navbar_buttons {
        gap: 30px;
    }

    .navbar_screen {
        padding: 40px;
    }

    .nav_links_parent {
        display: flex;
        flex-direction: column;
    }

    .nav_links {
        margin-bottom: 10px;
        cursor: pointer;
        font-size: 3.2rem;
        font-weight: normal;
        color: white;
        line-height: 1.3;
    }

    .nav_connect {
        width: fit-content;
        margin: 0 auto;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 30px;
    }
    .nav_connect h3{
        text-align: center;
    }

    .contact,
    .social_link_heading {
        margin-bottom: 15px;
    }

    .social_links_parent{
        width: 100%;
    }
    .social_links {
        justify-content: center;
    }

    .nav_contact {
        margin-bottom: 20px;
    }
}