@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

main {
  position: relative;
  width: 100%;
}

a {
  text-decoration: none;
}