footer {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #000;
    color: white;
    padding: 0px 180px;
    padding-top: 150px;
    position: relative;
    border-top: 1px solid #777;
}

footer>h3 {
    font-size: 80px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0.3px;
}

footer>h3>span {
    color: #FF7E2F;
}

.footer_in {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.footer_in1>a>button {
    cursor: pointer;
    padding: 13px 25px;
    border-radius: 30px;
    background: #FF8933;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.3px;
    outline: none;
    border: none;
}

.footer_in1>a {
    color: #ccc;
    text-decoration: none;
}

.footer_in1 h4 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
}

.footer_in2>h3 {
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: #FF7E2F;
}

.footer_in2>p {
    width: 60%;
    color: #ccc;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
}

.social_links_footer {
    margin-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.footer_bottom {
    margin-top: 60px;
    border-top: 1px solid #aaa;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.footer_bottom>h3 {
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.footer_bottom>a>h4 {
    color: #aaa;
    font-size: 17px;
    font-weight: 400;
}


@media screen and (max-width:580px) {
    footer {
        padding: 0px 50px;
        padding-top: 80px;
        min-height: 100vh;
        height: 100%;
    }

    footer>h3 {
        font-size: 60px;
    }

    .footer_in {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: unset;
    }

    .footer_in1>a>button {
        margin: unset;
        margin-top: unset;
        padding: 12px 20px;
        font-size: 16px;
        font-weight: 500;
        gap: 10px;
    }

    .footer_in1 h4 {
        font-size: 17px;
    }

    .footer_in2>h3 {
        font-size: 20px;
        margin-top: 20px;
    }

    .footer_in2>p {
        width: 65%;
        margin-top: 10px;
        font-size: 17px;
        line-height: 1.2;
    }

    .footer_bottom>h3 {
        font-size: 16px;
    }

    .footer_bottom>h4 {
        font-size: 16px;
    }
}